@model IEnumerable<RoleViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>All Roles</h1>
<br />
<br />


<a asp-action="Create" asp-controller="Role" class="btn btn-primary">Create New Employee</a>
<div class="row justify-content-center align-items-center mt-5">
    <form asp-action="Index" class="row col-8 offset-1">
        <div class="col-8">
            <input type="text" class="form-control" name="name" placeholder="Search by name" />
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </form>
</div>


@if (Model.Any())
{
    <table class="table table-striped mt-3 table-hover">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(U => U.Id)</td>
                <td>@Html.DisplayNameFor(U => U.RoleName)</td>
                
     
          
                <td>Details</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(M=>role.Id)</td>
                    <td>@Html.DisplayFor(M => role.RoleName)</td>
                  

                    <partial name="_ButtonPartialView" model="@role.Id" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-4 alert alert-warning">
        <h3>There is no Roles</h3>
    </div>
}


